.link {
  margin: 1rem 0;
  display: inline-block;
  background-color: var(--color-secondary);
  height: 30px;
  padding: 0.5rem 0.75rem;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  line-height: 1.5rem;
}
